@charset 'UTF-8';
// Configuration and helpers
// -------------------------------
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/responsive';
@import 'abstracts/mixins';

/* ----  1.  Base
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=----------- */
@import 'base/base';
@import 'base/fonts';
@import 'base/typography';
@import 'base/helpers';

/* ----  2.  Sections
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=----------- */
@import 'layout/header';
@import 'layout/footer';

/* ----  3.  Components
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=----------- */
@import 'components/buttons';

/* ----  4.  Pages
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=----------- */

@import 'pages/home';

/* ----  5.  Themes
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=----------- */

@import 'themes/default';
