// -----------------------------------------------------------------------------
// Application-wide Sass variables.
// -----------------------------------------------------------------------------

$font-primary: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial',
  sans-serif;
$Font-monospace: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace;

$color-primary: rgb(0, 91, 128);
$color-secondary: rgb(231, 197, 0);
$color-ternary: rgb(108, 0, 231);

$text-dark: rgb(34, 34, 34);
$text-dark-light: rgb(80, 80, 80);
$text-white: rgb(34, 34, 34);

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$assets-dir: 'assets/';
$images-dir: 'assets/images/';
